/* PhoneComponent.module.css */

.phone {
    height: 100vh;
  }
  
  .gameboy-div {
    width: 100%;
    height: 90%;
    background-color: gray;
    border-radius: 10px;
    overflow: hidden;
  }
  .gameboy {
    text-align: -webkit-center;
      width: 100%;
      height: 80%;
  }

  #image_map {
    justify-content: center;
    display: flex;
    position: relative;
  }
  
  
  .canvas {
    position: absolute;
    top: 20px;
    border-width: thick;
    display: flex;
    border-style: solid;
    width: 330px;
    height: 330px;
  }
  
  .buttons {
    position: absolute;
    bottom: -80px;
    right: 8%;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
  }

  .directional-cross {
    position: absolute;
    bottom: -150px;
    left: 30%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  
  .cross-arm {
    position: absolute;
    width: 50px;
    height: 120px;
    background-color: black;
  }
  
  .cross-arm-top,
  .cross-arm-bottom{
    left: 25px;
  }
  .cross-arm-left{
    left: 50px;
  }

  .cross-arm-bottom {
    top: 50px;
  }
  
  .cross-arm-right,
  .cross-arm-left{
    top: 25px;
    rotate: 90deg;
  }

  @media (min-width: 600px) {
    .gameboy-div {
      height: 100% !important;
        background-color: black;
    }

    .canvas {
      width: 600px !important;
      height: 600px !important;
    }

    .directional-cross, .buttons{
      display: none;
    }
  }
